 .filterable {
  margin-top: 15px;
}

.filterable .panel-heading .pull-right {
  margin-top: -20px;
}

.filterable .filters input[disabled] {
  background-color: transparent;
  border: none;
  cursor: auto;
  box-shadow: none;
  padding: 0;
  height: auto;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
  color: #333;
}

.filterable .filters input[disabled]::-moz-placeholder {
  color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
  color: #333;
}
.panel-primary>.panel-heading{
background-color:#FF0000;
border-color: #FF0000;
}
.panel-primary{
border-color: #FF0000;	
}
.panel-title{
font-weight: bold ;	
text-align: center;
}
.red{
background-color:#FF0000 !important;
font-weight: bold ;		
}
.filters{
	 border: 3px solid red;

}
.table{
	 border: 3px solid red;
}
.filters{
border: 3px solid red;
}
.table{
border: 3px solid red;
}
.container{
width:99%;
}
/*ToTop button*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border:solid 4px;
  border-color:white;
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#myBtn2Excel {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  left: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border:solid 2px;
  border-color:green;
  outline: none; /* Remove outline */
  background-color: none;  
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn2Excel:hover {
	 border:solid 4px;
  border-color:green;

}


/*Verticale lijnen in table*/
table.table tbody tr td,
table.table thead tr th,
table.table thead {
  border-left: 1px solid red;
  border-right: 1px solid red;
}

.logo{
	float:left;
	position:relative;
	top:-3px;
	width:60px;
}

#myInput{
	border-radius: 4px;
	border:none;
	position: relative;
	top:1px;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

#myInput:focus {
  outline-color: red;
}